body{
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:rgba(202, 202, 202, 0.15)   
}

.navbar{
  background-color:rgba(59, 54, 54, 0.347) 
}

    .login-card {
      max-width: 400px;
      padding: 2rem;
      border-radius: 2rem;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      background-color: #dfe3f0;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #86b7fe;
    }

    .form-icon {
      position: absolute;
      top: 10px;
      left: 15px;
      color: #6c757d;
    }

    .form-group {
      position: relative;
    }

    .form-group input {
      padding-left: 2.5rem;
    }