body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgba(202, 202, 202, 0.15)   
}

.navbar{
    background-color:rgba(59, 54, 54, 0.347) 
}

.card-dashboard {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card-dashboard:hover {
    transform: scale(1.01);
}

.card-title {
    font-weight: 600;
}      