<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/pagos.css">
    <title>Document</title>
</head>
<body>

   <!--nav--> 
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-list" style="font-size: 1.5rem;"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-bg-secondary" aria-labelledby="dropdownMenu">
                  <li><a class="dropdown-item" href="#">Inicio</a></li>
                  <li><a class="dropdown-item" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
              </div>
              <button class="btn">
                <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
              </button>
        </div>
      </nav>


      <!--contenedor 1-->
      <div class="container mt-5">        
            <div>
              <h2 class="titulo1">Pagar y confirmar la reserva</h2>
            </div>
        <div class="row mt-5">  
          <div class="container col-sm-7">
            <div class="containerGeneral">
              <div class="row">
              <div class="col-sm-6 ">
              <h4 class="titulo1">Pago por PSE</h4>
              </div>
              <div class="col-sm-6 text-end">
                <img src="/maquetacion/img/PSE.png"></img>
              </div>
            </div>
            </div>
            
            
            <div class="containerGeneral mt-3">
              <div class="container">
                <div class="row mt-3">
                  <div class="col-sm-6">
                  <h4 class="titulo1">Datos de la tarjeta</h4>
                  </div>
                  <div class="col-sm-6 text-end">
                  <img src="/maquetacion/img/Tarjetas.png"></img>
                  </div>  
                </div>
              </div>  
              

              <div class="container">
                <div class="row mt-3">
                  <div class="col-sm-11 mt-3">
                  <input type="text" class="form-control campos" id="campo1" placeholder="Nombres del titular">
                  </div>
                  <div class="col-sm-11 mt-3">
                  <input type="text" class="form-control campos" id="campo2" placeholder="Numero de tarjeta">
                  </div>                
                  <div class="col-sm-11 mt-3">  
                    <label for="campo1" class="form-label">Fecha de Expiración</label>                
                  <input type="date" class="form-control campos" id="fechaNacimiento"/>
                  </div>
                </div>
            </div> 

            <div class="container">
              <div class="row">
                <div class="col-sm-12 mt-4">
                <h4 class="titulo1">Datos de facturacion</h4>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-sm-11 mt-3">
                <input type="text" class="form-control campos" id="campo4" placeholder="Correo Electronico">
                </div>
                <div class="col-sm-11 mt-3">
                <input type="text" class="form-control campos" id="campo5" placeholder="Direccion de Residencia">
                </div>
                <div class="col-sm-11 mt-3">
                <input type="text" class="form-control campos" id="campo6" placeholder="Ciudad">
                </div>
                <div class="col-sm-11 mt-3 mb-3">
                  <input type="text" class="form-control campos" id="campo7" placeholder="Pais">
                  </div>
              </div>
            </div>
          </div> 
         </div>
         

          <div class="containerGeneral col-sm-4">
            <div>
            <h4 class="titulo1">Resumen de compra</h4>
            </div>
            <div>
            <h4 class="iconos">Informacion del paquete</h4>
            </div>
            <div>
            <h4 class="iconos">total a pagar</h4>
            </div>
        </div>
        </div>
      </div>  
      
      <!--contenedor 2-->

      <div class="container">
        <div class="row text">
          <div class="col-md-7  text-end mt-3">
            <button type="button" class="btn btn-dark">Confirmar y Pagar</button>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    </body>
</html>